/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
body { 
  margin: 0px; 
  background-color: white;
  font-family: 'Murecho', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
p{
  font-size: 25px;
}
h1{
  text-align: center;
  font-size: 50px;
}
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
*       HEAD BAR
*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

#headcontent{
  background-color: black;  
  display: block;
  padding: 0px;
}
#headcontent>img{
  display: block;
  margin: 0px auto;
  height: 100px;
  padding: 70px 0px 40px;
  
}
#headcontent>section{
  /*border-top: 3px solid #676767;*/
  position: relative;
}
.pcbimg{
  width: 100%;
}
.profileimg {
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  position: absolute;
  margin: 0 auto;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
/*  OPEN SOURCE  */
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
#opensource{
  background-color: #ffffff;
  padding: 0px 50px;
}
.linux-message{
  max-width: 1200px;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.linuxtorvalds-image{
  display: block;
  border-radius: 100px;
  margin: 0 auto;
}
#opensource>.linux-message>p{
  padding: 30px;
}


/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
/*  MOBILE  */
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
@media only screen and (max-width: 981px) {
  #headcontent>img{
    padding-bottom: 120px;
    
  }
  .profileimg {
    height: 100%;
  }
  p{
    font-size: 35px;
  }
  h1{
    font-size: 60px;
  }
} 